@import url(https://fonts.googleapis.com/css?family=Sintony:400,700);

body {
  margin: 0;
  padding: 0;
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px;
}

.rv-force__node, .rv-force__link, .rv-force__label {
  transition: opacity 250ms, color 250ms;
}
